@mixin minScreen($pram) {
  @if $pram == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $pram == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $pram == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if (min-width: 1200px) {
    @content;
  } @else if $pram == downSm {
    @media (min-width: 767px) {
      @content;
    }
  }
}

@mixin maxScreen($pram) {
  @if $pram == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $pram == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $pram == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if (max-width: 1200px) {
    @content;
  } @else if $pram == downSm {
    @media (max-width: 767px) {
      @content;
    }
  }
}


@mixin screen($pram) {
  @if $pram == xs {
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $pram == sm {
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  } @else if $pram == downSm {
    // to dowm Small devices (landscape phones, 576px and down)
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $pram == md {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  } @else if $pram == lg {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  } @else if $pram == xl {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin transform($pram) {
  -webkit-transform: $pram;
  -moz-transform: $pram;
  -o-transform: $pram;
  transform: $pram;
}

@media (max-width: 767px) {
  .xs-text-center {
    text-align: center !important;
  }
}
